codeNote/.gradle/
codeNote/.idea/
codeNote/out/
codeNote/groovy-learning/out/
codeNote/groovy-learning/build/
codeNote/algorithm-learning/build/
codeNote/gradle-learning/build/
codeNote/algorithm-learning/out/
codeNote/java-learning/out/
codeNote/gradle/
codeNote/gradlew
codeNote/gradlew.bat
.gradle/
.idea/
